
<ul class="nav topcart pull-left" >
          <li class="dropdown hover carticon ">
              <a href="#" class="dropdown-toggle" > Shopping Cart <span class="label label-orange font14 " id="goods_num"> item(s)</span> - <span class="goods_total"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu topcartopen ">
              <li>
                  
                  
                <table>
                  <tbody id="goods_list">    
                     
                    <tr>
                      <td class="image"><a href="product.html"><img width="50" height="50" src="__PUBLIC__/img/prodcut-40x40.jpg" alt="product" title="product"></a></td>
                      <td class="name"><a href="product.html">MacBook</a></td>
                      <td class="quantity">x&nbsp;</td>
                      <td class="total"></td>
                      <td class="remove"><i class="icon-remove "></i></td>
                    </tr>
                    
                    
                  </tbody>
                </table>
                  
                  
                <table>
                  <tbody>
                   
                    <tr>
                      <td class="textright"><b>Total:</b></td>
                      <td class="textrighttotal"></td>
                    </tr>
                  </tbody>
                </table>
                  
                  
                <div class="well pull-right buttonwrap">
                  <a class="btn btn-orange" href="javascript:view(<?php echo isset($_SESSION['uid'])?1:0; ?>);">View Cart</a>
                  <a class="btn btn-orange" href="#">Checkout</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
<script>
    function view(id){
    if(id==0){
        window.location.href='/home/index/login';      
    }else{
        window.location.href='/home/cart/viewcart';  
    }
}
</script>