<!DOCTYPE html>
        <include file="./Application/Admin/View/header.html" />
<html>
    <style>
        .list{
            margin-left:200px;
            border-left: 3px solid #00a0e9;
        }
    </style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>管理商品</title>  
<div class="aa">
        <include file="./Application/Admin/View/footer.html" />
            <div class="list" width="100%">    
              <include file="./Application/Admin/View/right.html" />
        </div>
</div>
</html>