<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .sliber-left{
                float: left;
                width:200px;
                height:350px;
                margin:auto 0;
                padding:30px;
            }
            .sliber-left ul{
                list-style: none;
            }
            .sliber-left ul li{
                height:20px;
                margin:50px 0px;
            }
            .sliber-right{
                margin:20px;
                float: left;
            }


        </style>
    </head>
    <body>          
            <div class="sliber-left">
                <nav>
                    <div class="nav-block">
                        <ul class="nav-ul">
                             <li><a href="/admin/goods/showlist"><button>管理商品</button></a></li>
                            <li><a href="/admin/goods/add"><button>添加商品</button></a></li>
                           
                        </ul>
                    </div>
                </nav>
           </div>
    </body>
</html> 
