
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="__PUBLIC__/css/mine.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
            .table_a{border-collapse:collapse;border-color:black;}
            th,tr,td{text-align: center}
            .bb{
                width: 100%;
            }
        </style>
        <div class='bb' style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="2"  width="1200px" >
                <tbody><tr style="font-weight: bold;">
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>原价</th>
                        <th>现价</th>
                        <th>图片</th>
                        <th>内容</th>
                        <th colspan="2">操作</th>
                    </tr>
                    <foreach name="data" item="vo">
                    <tr id="product1">
                        <td name="goods_id">{$vo.goods_id}</td>
                        <td name="goods_name">{$vo.goods_name}</td>
                        <td name="oldprice">{$vo.oldprice}</td>
                        <td name="price">{$vo.price}</td>
                        <td name="img"><img src="{$vo.imgurl}" height="60" width="60"></td>
                        <td name="content">{$vo.content}</td>
<!--                        制作修改按钮并传递参数(要修改商品的goods_id)-->
                        <td><a href="/admin/goods/xiugai/goods_id/{$vo.goods_id}">修改</a></td>
                        <td><a href="/admin/goods/shanchu/goods_id/{$vo.goods_id}">删除</a></td>
                    </tr>  
                    </foreach>
                <tr>
                    <td colspan="20" style="text-align: center;">
                       {$pagelist}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
